<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
    <ion-nav-title>
        <p class="capitalize">{{account_type}}</p>
    </ion-nav-title>

    <ion-content class="padding" ng-show="bookings_tab">
        <div class="card" ng-repeat="booking in bookings">
            <div class="item item-text-wrap">
                <h3 class="booking-header">{{booking.card_holder_name}}</h3>
                <p>Email: {{booking.user_email}}</p>
                <p>Date: {{booking.date}}</p>
                <p>Time: {{booking.time}}</p>
            </div>
        </div>
    </ion-content>

    <ion-content class="padding" ng-show="account_tab">
        <ion-list>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Business Name</span>
                <input class="account-input" type="text" ng-model="account.business_name">
            </label>
            <label class="item item-input item-stacked-label input-chop">
                <span class="input-label">Address</span>
                <input class="account-input" type="text" ng-model="account.business_address">
            </label>
            <label class="item item-input item-stacked-label input-chop">
                <span class="input-label">Number</span>
                <input class="account-input" type="tel" ng-model="account.business_number">
            </label>
            <br />
            <div class="button-bar">
                <button class="button button-full button-assertive" ng-click="cancel()">Cancel</button>
                <button class="button button-full button-chop" ng-click="saveAccountInfo(account)">Save</button>
            </div>
        </ion-list>
    </ion-content>

    <ion-content class="padding" ng-show="open_tab">
        <ion-list>
            <div ng-repeat="(day, time) in opening_hours">
                <ion-checkbox ng-click="checkboxOpenClose(time)" ng-checked="time.open"><p ng-show="time.open || time.close">{{day}}: {{time.open}} - {{time.close}}</p><p ng-show="!(time.open || time.close) ">{{day}}: Closed</p></ion-checkbox>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Open
                    </div>
                    <select ng-model="time.open" ng-options="item as item for item in timeRange">
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Close
                    </div>
                    <select ng-model="time.close">
                        <option ng-repeat="range in timeRange" ng-value="range">{{range}}</option>
                    </select>
                </label>
                <br />
            </div>
            <div class="button-bar">
                <button class="button button-full button-assertive" ng-click="cancel()">Cancel</button>
                <button class="button button-full button-chop" ng-click="saveOpeningTimes(opening_hours)">Save</button>
            </div>
        </ion-list>
    </ion-content>

    <ion-content class="padding" ng-show="prices_tab">
        <div class="card" ng-repeat="(service, price) in prices">
            <div class="item item-text-wrap">
                <p>Service: {{service}}</p>
                <p>Price: {{price}}</p>
            </div>
        </div>
    </ion-content>

</ion-view>
