<ion-view>
    <ion-nav-title>
        <img class="header-logo" src="img/logo.png">
    </ion-nav-title>
    <ion-content id="account-view">
        <!--<ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="doRefresh()">
        </ion-refresher>-->
        <ion-list>
            <img class="profile-image" ng-src="{{main.photo_link}}"/>
            <ion-item class="item-icon-left item-icon-right" type="item-text-wrap">
                <ion-toggle  ng-click="setShopState()" ng-checked="main.is_open">
                    Shop {{main.is_open ? 'Open' : 'Closed'}}
                </ion-toggle>
            </ion-item>
            <ion-item class="item-avatar item-icon-left item-icon-right" type="item-text-wrap" href="#/tab/account/account">
                <i class="icon ion-person"></i>
                <h2>Account</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-left item-icon-right" type="item-text-wrap" href="#/tab/account/bookings">
                <i class="icon ion-calendar"></i>
                <h2>Bookings</h2>
                <span class="badge badge-bookings" ng-class="main.id >9 ? 'center' : ''">{{main.id | limitTo: 2}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-left item-icon-right" type="item-text-wrap" href="#/tab/account/payment">
                <i class="icon ion-card"></i>
                <h2>Payment</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-left item-icon-right" type="item-text-wrap" href="#/tab/account/open">
                <i class="icon ion-clock"></i>
                <h2>Opening Hours</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-left item-icon-right" type="item-text-wrap" href="#/tab/account/prices">
                <i class="icon ion-cash"></i>
                <h2>Prices</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
