﻿<ion-view>
    <ion-nav-title>
        <img class="header-logo" src="img/logo.png">
    </ion-nav-title>
    <ion-content class="padding vert-center">
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-email placeholder-icon"></i>
                <input type="email" placeholder="Email" ng-model="email">
            </label>
            <br>
            <label class="item item-input">
                <i class="icon ion-key placeholder-icon"></i>
                <input type="password" placeholder="Password" ng-model="password">
            </label>
            <p class="error">{{login_error}}</p>
        </div>
        <button class="button button-full button-chop" ng-click="login(email, password)">Login</button>
    </ion-content>
</ion-view>
