.header-logo {
  height: 40px;
  width: 80px; }

.icon.ion-key {
  padding-left: 3px;
  margin-right: 5px;
  transform: rotate(90deg); }

/* Variables */
.capitalize {
  text-transform: capitalize; }

#account-view {
  -webkit-overflow-scrolling: touch; }
  #account-view ion-list ion-item :first-child {
    background-color: white !important; }
  #account-view ion-list ion-item h2 {
    overflow: visible;
    padding-top: 9px; }

.vert-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute !important;
  margin: 0 auto;
  width: 100%; }

.toggle input + .track {
  background-color: red;
  border-color: red; }

.button-chop {
  border-bottom-color: #55BEB9;
  background-color: #55BEB9; }

.error {
  color: red; }

.booking-header {
  text-align: center; }

.item-input {
  padding-right: 16px; }

.account-input {
  background-color: #eee !important;
  border-radius: 4px !important;
  padding-left: 8px !important; }

.profile-image {
  width: 100%; }

.badge-bookings {
  top: 39% !important;
  left: 4%; }
  .badge-bookings.center {
    left: 3%; }

body.keyboard-open .platform-android .content.overflow-scroll {
  bottom: 0px !important; }
